<div class="flex flex-col md:flex-row gap-4 bg-gray-50 my-4">
  <!-- image -->
  <img
    alt="ecommerce"
    class="object-cover object-center"
    src="https://dummyimage.com/420x260"
  />
  <!-- Prodcut info -->
  <div class="text-wrap flex flex-col py-2 pl-4 md:pl-0 pr-4">
    <h2 class="text-sm text-gray-500 tracking-widest">{{"brand name" | uppercase }}</h2>
    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
      The Catcher in the Rye
    </h1>
    <p class="leading-relaxed flex-1">
      Fam locavore kickstarter distillery. Mixtape chillwave tumeric
      sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps
      cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine
      tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean
      shorts keytar banjo tattooed umami cardigan.
    </p>
    <p class="title-font font-medium text-xl text-blue-900">{{"58.00" | currency:'MXN' }}</p>
  </div>
</div>
