<div class="bg-gray-50">
  <a class="block relative h-48 rounded">
    <img
      alt="ecommerce"
      class="object-cover object-center w-full h-full block"
      src="https://dummyimage.com/420x260"
    />
  </a>
  <div class="mt-4 p-4">
    <h3 class="text-main bg-blue-50 text-xs w-fit p-2 rounded-md tracking-widest title-font mb-1">
      Category
    </h3>
    <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
    <div class="flex flex-col gap-2">
      <p>$16.00</p>
      <button class="flex justify-center items-center bg-green-100 w-full gap-2 px-4 py-2">
        <div class="pi pi-cart-plus text-2xl text-green-700"></div>
        <p class="text-green-700 text-center">Añadir al carrito</p>
      </button>
    </div>
  </div>
</div>
