<header class="w-screen max-w-full h-[70px] bg-main">
  <nav class="w-full h-full flex">
    <section
      class="w-3/6 h-full flex justify-start items-center pl-[11px] space-x-3"
    >
      <!-- logo -->
      <div class="w-auto">
        <a
          [routerLink]="['/']"
          class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center text-white"
        >
          <div class="pi pi-code text-[26px]"></div>
          <div class="pi pi-bolt absolute text-[20px]"></div>
        </a>
      </div>
    </section>
  </nav>
</header>
