<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-w-full mx-auto lg:flex">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="{{ post.photos.at(-1)!.photoFilename | image }}"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          {{ post.tags[0].tag | uppercase }}
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ post.title }}
        </h1>
        <p>
          Artículo publicado por {{ post.user.firstName }}
          {{ post.user.lastName }}
        </p>
        <p class="leading-relaxed">
          {{ post.content }}
        </p>
        <div
          class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"
        >
        </div>
        <div class="flex gap-1 w-full">
          <p class="title-font font-medium text-2xl text-main">
            Artículo disponible por:
          </p>
          <p class="title-font font-medium text-2xl text-gray-900">
            {{ post.price | currency : "MXN" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
