<main class="w-screen max-w-full h-[70px] bg-main">
  <nav class="w-full h-full flex">
    <section
      class="w-3/6 h-full flex justify-start items-center pl-[11px] space-x-3"
    >
      <!-- logo -->
      <div class="w-auto">
        <a
          href="#"
          class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center text-white"
        >
          <div class="pi pi-code text-[26px]"></div>
          <div class="pi pi-bolt absolute text-[20px]"></div>
        </a>
      </div>

      <!-- search bar -->
      <div class="w-2/4 h-[46px] rounded-full flex justify-start items-center">
        <a
          href="#"
          class="w-[24px] h-[24px] ml-[12px] flex justify-center items-center absolute"
        >
          <div class="pi pi-search text-[20px]"></div>
        </a>
        <input
          type="text"
          class="w-full h-[46px] border-2 bg-main-100 rounded-full text-gray-700 text-[14px] outline-none pl-10"
          placeholder="Search"
        />
      </div>
    </section>

    <!-- Acocunt, notifications, alerts and cart -->
    <section
      class="w-3/6 h-full flex md:justify-end justify-between items-center pr-[11px] md:space-x-3 text-white"
    >
      <a
        [routerLink]="['/shop/new-post']"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-plus text-[20px]"></div>
      </a>

      <a
        [routerLink]="['/shop/cart']" routerLinkActive="router-link-active"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-shopping-cart text-[20px]"></div>
      </a>

      <a
        [routerLink]="['/shop/profile']" routerLinkActive="router-link-active"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-user text-[20px]"></div>
      </a>
    </section>
  </nav>
</main>
