<div class="bg-gray-100 rounded-lg p-16 lg:p-20 mt-10 w-full">
  <h2 class="text-gray-900 text-3xl font-semibold mb-5">Regístrate</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="relative mb-4">
      <label for="firstName" class="leading-7 text-sm text-gray-600"
        >Nombre(s)</label
      >
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="w-full bg-white rounded border border-gray-300 focus:border-blue-100 focus:ring-2 focus:ring-main-100 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="firstName"
      />
    </div>

    <div class="relative mb-4">
      <label for="lastName" class="leading-7 text-sm text-gray-600"
        >Apellido(s)</label
      >
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="w-full bg-white rounded border border-gray-300 focus:border-blue-100 focus:ring-2 focus:ring-main-100 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="lastName"
      />
    </div>

    <div class="relative mb-4">
      <label for="email" class="leading-7 text-sm text-gray-600"
        >Correo Electrónico</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="w-full bg-white rounded border border-gray-300 focus:border-blue-100 focus:ring-2 focus:ring-main-100 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="email"
      />
    </div>

    <div class="relative mb-4">
      <label for="password" class="leading-7 text-sm text-gray-600"
        >Contraseña</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="w-full bg-white rounded border border-gray-300 focus:border-blue-100 focus:ring-2 focus:ring-main-100 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="password"
      />
    </div>

    <div class="relative mb-4">
      <label for="phone" class="leading-7 text-sm text-gray-600"
        >Teléfono</label
      >
      <input
        type="tel"
        id="phone"
        name="phone"
        class="w-full bg-white rounded border border-gray-300 focus:border-blue-100 focus:ring-2 focus:ring-main-100 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        formControlName="phone"
      />
    </div>

    <button
      class="text-white bg-main border-0 py-2 px-8 w-full focus:outline-none hover:bg-blue-700 rounded text-lg"
      [ngClass]="{ 'bg-slate-500 hover:bg-slate-500': isLoading }"
      [disabled]="isLoading"
    >
      {{ isLoading ? "Creando cuenta..." : "Crear cuenta" }}
    </button>
  </form>
  <p class="text-gray-500 mt-3 text-center">
    ¿Ya tienes una cuenta?
    <a [routerLink]="['/auth/login']" class="text-main">Inicia sesión</a>
  </p>
</div>
