<main class="w-full max-w-full h-[70px] bg-main rounded-md">
  <nav class="w-full h-full flex">
    <section
      class="w-1/2 h-full flex justify-start items-center pl-[11px] space-x-[12px]"
    >
      <!-- logo -->
      <a
        href="#"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center text-white"
      >
        <div class="pi pi-code text-[26px]"></div>
        <div class="pi pi-bolt absolute text-[20px]"></div>
      </a>

      <!-- search bar -->
      <div
        class="w-[330px] h-[46px] bg-main-100 rounded-full flex justify-start items-center"
      >
        <a
          href="#"
          class="w-[24px] h-[24px] ml-[12px] flex justify-center items-center"
        >
          <div class="pi pi-search text-[20px]"></div>
        </a>
        <input
          type="text"
          class="w-[250px] h-[46px] bg-main-100 text-gray-700 text-[14px] pl-[12px] outline-none"
          placeholder="Search"
        />
      </div>
    </section>

    <!-- Acocunt, notifications, alerts and cart -->
    <section
      class="w-1/2 h-full flex justify-end items-center pr-[11px] space-x-[12px] text-white"
    >
      <a
        href="#"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-bell text-[20px]"></div>
      </a>

      <a
        href="#"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-envelope text-[20px]"></div>
      </a>

      <a
        href="#"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-shopping-cart text-[20px]"></div>
      </a>

      <a
        href="#"
        class="w-[46px] h-[46px] bg-main-200 rounded-full flex justify-center items-center"
      >
        <div class="pi pi-user text-[20px]"></div>
      </a>
    </section>
  </nav>
</main>
