<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto w-screen">
    <p class="text-5xl mb-10">Carrito de compras</p>

    <div class="w-full lg:flex-row">
      <div class="w-full flex justify-center">
        <!-- image -->
        <div class="lg:flex md:w-1/2 md:flex p-4 items-center w-full">
          <a
            class="block relative h-48 rounded overflow-hidden w-auto mb-5 border"
          >
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://dummyimage.com/420x260"
            />
          </a>
          <!-- Prodcut info -->
          <div class="lg:w-1/2 lg:pl-10 lg: h-full w-full mx-auto md:pl-10">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">
              BRAND NAME
            </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              The Catcher in the Rye
            </h1>
            <p class="leading-relaxed">
              Fam locavore kickstarter distillery. Mixtape chillwave tumeric
              sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo
              juiceramps cornhole raw denim forage brooklyn. Everyday carry +1
              seitan poutine tumeric. Gastropub blue bottle austin listicle
              pour-over, neutra jean shorts keytar banjo tattooed umami
              cardigan.
            </p>

            <div class="flex">
              <span class="title-font font-medium text-xl text-gray-900"
                >$58.00</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center">
        <!-- image -->
        <div class="lg:flex md:w-1/2 md:flex p-4 items-center w-full">
          <a
            class="block relative h-48 rounded overflow-hidden w-auto mb-5 border"
          >
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://dummyimage.com/420x260"
            />
          </a>
          <!-- Prodcut info -->
          <div class="lg:w-1/2 lg:pl-10 lg: h-full w-full mx-auto md:pl-10">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">
              BRAND NAME
            </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              The Catcher in the Rye
            </h1>
            <p class="leading-relaxed">
              Fam locavore kickstarter distillery. Mixtape chillwave tumeric
              sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo
              juiceramps cornhole raw denim forage brooklyn. Everyday carry +1
              seitan poutine tumeric. Gastropub blue bottle austin listicle
              pour-over, neutra jean shorts keytar banjo tattooed umami
              cardigan.
            </p>

            <div class="flex">
              <span class="title-font font-medium text-xl text-gray-900"
                >$58.00</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center">
        <!-- image -->
        <div class="lg:flex md:w-1/2 md:flex p-4 items-center w-full">
          <a
            class="block relative h-48 rounded overflow-hidden w-auto mb-5 border"
          >
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://dummyimage.com/420x260"
            />
          </a>
          <!-- Prodcut info -->
          <div class="lg:w-1/2 lg:pl-10 lg: h-full w-full mx-auto md:pl-10">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">
              BRAND NAME
            </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              The Catcher in the Rye
            </h1>
            <p class="leading-relaxed">
              Fam locavore kickstarter distillery. Mixtape chillwave tumeric
              sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo
              juiceramps cornhole raw denim forage brooklyn. Everyday carry +1
              seitan poutine tumeric. Gastropub blue bottle austin listicle
              pour-over, neutra jean shorts keytar banjo tattooed umami
              cardigan.
            </p>

            <div class="flex">
              <span class="title-font font-medium text-xl text-gray-900"
                >$58.00</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:w-1/5 md:w-2/5 w-auto mx-auto">
      <p class="text-3xl font-semibold mb-5">Total</p>
      <p class="text-xl font-semibold">$0.00</p>
    </div>
  </div>
</section>
